<h2>Strategy Pattern Test</h2>

<p><strong>Normal Price (Basic Strategy):</strong> @ViewBag.PriceNormal</p>
<p><strong>Discount Price (Quantity Strategy):</strong> @ViewBag.PriceDiscount</p>

<hr />

<p style="color:green; font-weight:bold;">
Strategy Pattern is working successfully ✔
</p>
